html {
  background-color: rgb(0, 0, 0);
}
body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.container {
  flex-basis: 500px;
  height: 630px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 20px solid rgb(157, 129, 115);
  background-color: rgb(85, 61, 61);
  border-radius: 40px;
}
.head-name {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 25px;
}

.heading {
  margin: 0;
  display: flex;
  justify-content: center;
  font-weight: bolder;
  font-size: 4rem;
  background-color: rgb(251, 251, 251);
  border: 12px solid rgb(157, 129, 115);
  border-radius: 30px;
  padding: 3px;
  color: rgb(104, 46, 17);
}
.current-player > h2 {
  margin: 0;
  text-align: center;
  margin-top: 5px;
  color: rgb(0, 0, 0);
}
.current-player {
  visibility: hidden;
}
.visible {
  visibility: visible;
}

.board > p {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.btn {
  color: rgb(104, 46, 17);
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  border-width: 12px;
  width: 85px;
  height: 85px;
  border-color: rgb(157, 129, 115);
  border-radius: 25px;
}

.btnTxt {
  display: none;
}

body > p {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
#restart {
  margin: 0;
  padding: 0;
  font-size: 20px;
  width: 130px;
  height: 50px;
  border-width: 7px;
  margin-top: 20px;
  border-color: rgb(157, 129, 115);
  color: rgb(104, 46, 17);
  font-weight: bold;
  border-radius: 30px;
}

.board {
  margin-top: 20px;
}
